* text=auto !eol
/COPYING -text
/configure -text
pjlib-util/build/pjlib_util.dsp eol=crlf
pjlib-util/build/pjlib_util.dsw eol=crlf
pjlib-util/build/pjlib_util_test.dsp eol=crlf
pjlib-util/docs/doxygen.cfg -text
pjlib-util/docs/doxygen.css -text
pjlib-util/docs/footer.html -text
pjlib-util/docs/header.html -text
pjlib/build/pjlib++-test.dsp eol=crlf
pjlib/build/pjlib++.dsp eol=crlf
pjlib/build/pjlib.dsp eol=crlf
pjlib/build/pjlib.dsw eol=crlf
pjlib/build/pjlib_samples.dsp eol=crlf
pjlib/build/pjlib_samples.vcproj eol=crlf
pjlib/build/pjlib_test.dsp eol=crlf
pjlib/build/wince-evc4/pjlib_test_wince.vcp -text
pjlib/build/wince-evc4/pjlib_wince.vcp -text
pjlib/build/wince-evc4/pjlib_wince.vcw -text
pjlib/docs/doxygen.cfg -text
pjlib/docs/doxygen.css -text
pjlib/docs/footer.html -text
pjlib/docs/header.html -text
pjmedia/build/pjaut.dsp eol=crlf
pjmedia/build/pjmedia.dsp eol=crlf
pjmedia/build/pjmedia.dsw eol=crlf
pjmedia/build/pjmedia_test.dsp eol=crlf
pjmedia/docs/doxygen.cfg -text
pjmedia/docs/master-port.jpg -text svneol=unset#image/jpeg
pjmedia/docs/sample-manual-resampling.jpg -text svneol=unset#image/jpeg
pjmedia/docs/siprtp.jpg -text svneol=unset#image/jpeg
pjmedia/docs/sndtest.jpg -text svneol=unset#image/jpeg
pjmedia/src/pjmedia-codec/gsm/code.c -text
pjmedia/src/pjmedia-codec/gsm/config.h -text
pjmedia/src/pjmedia-codec/gsm/proto.h -text
pjsip-apps/build/pjsua.dsp eol=crlf
pjsip-apps/src/pjsua_wince/pjsua_wince.ico -text
pjsip-apps/src/pjsua_wince/pjsua_wince.rc -text
pjsip-apps/src/pjsua_wince/pjsua_wince.vcp -text
pjsip-apps/src/pjsua_wince/resource.h -text
pjsip/build/pjsip.dsw eol=crlf
pjsip/build/pjsip_core.dsp eol=crlf
pjsip/build/pjsip_simple.dsp eol=crlf
pjsip/build/pjsip_ua.dsp eol=crlf
pjsip/build/test_pjsip.dsp eol=crlf
pjsip/docs/doxygen.cfg -text
pjsip/docs/footer.html -text
pjsip/docs/header.html -text
pjsip/docs/pjsip-arch.jpg -text svneol=unset#image/jpeg
pjsip/docs/pjsua.jpg -text svneol=unset#image/jpeg
