* text=auto !eol
/COPYING -text
/aconfigure eol=lf
/aconfigure.ac eol=lf
/build.mak.in eol=lf
build.symbian/libg7221codec.mmp -text
build.symbian/libresample.mmp -text
build.symbian/makedef.sh -text
build.symbian/pjlib_test.pkg -text
build.symbian/pjmedia.mmp -text
build.symbian/pjproject.cww -text
build.symbian/pjsua_lib.mmp -text
build.symbian/symbian_ua.mmp -text
build.symbian/symbian_ua_udeb.pkg -text
build.symbian/symbian_ua_urel.pkg -text
build.symbian/symsndtest.pkg -text
build/cc-auto.mak.in eol=lf
build/os-auto.mak.in eol=lf
build/vs/pjproject-vs8-common-defaults.vsprops -text
build/vs/pjproject-vs8-debug-defaults.vsprops -text
build/vs/pjproject-vs8-debug-dynamic-defaults.vsprops -text
build/vs/pjproject-vs8-debug-static-defaults.vsprops -text
build/vs/pjproject-vs8-release-defaults.vsprops -text
build/vs/pjproject-vs8-release-dynamic-defaults.vsprops -text
build/vs/pjproject-vs8-release-static-defaults.vsprops -text
build/vs/pjproject-vs8-win32-common-defaults.vsprops -text
build/vs/pjproject-vs8-win32-release-defaults.vsprops -text
build/vs/pjproject-vs8-wm2003-common-defaults.vsprops -text
build/vs/pjproject-vs8-wm2003-release-defaults.vsprops -text
build/vs/pjproject-vs8-wm5-common-defaults.vsprops -text
build/vs/pjproject-vs8-wm5-release-defaults.vsprops -text
build/vs/pjproject-vs8-wm6-common-defaults.vsprops -text
build/vs/pjproject-vs8-wm6-release-defaults.vsprops -text
/config.guess eol=lf
/config.sub eol=lf
/configure eol=lf
/configure-legacy eol=lf
pjlib-util/build/os-auto.mak.in eol=lf
pjlib-util/build/pjlib_util.dsw eol=crlf
pjlib-util/build/pjlib_util.vcproj -text
pjlib-util/build/pjlib_util_test.vcproj -text
pjlib-util/build/wince-evc4/pjlib_util_test_wince.vcp -text
pjlib-util/build/wince-evc4/pjlib_util_wince.vcp eol=crlf
pjlib-util/build/wince-evc4/pjlib_util_wince.vcw eol=crlf
pjlib-util/docs/doxygen.cfg -text
pjlib-util/docs/doxygen.css -text
pjlib-util/docs/footer.html -text
pjlib-util/docs/header.html -text
pjlib/build/cacert.pem -text
pjlib/build/os-auto.mak.in eol=lf
pjlib/build/pjlib.vcproj -text
pjlib/build/pjlib_test.vcproj -text
pjlib/build/privkey.pem -text
pjlib/build/wince-evc4/pjlib_test_wince.vcp -text
pjlib/build/wince-evc4/pjlib_wince.vcp -text
pjlib/build/wince-evc4/pjlib_wince.vcw -text
pjlib/docs/doxygen.cfg -text
pjlib/docs/doxygen.css -text
pjlib/docs/footer.html -text
pjlib/docs/header.html -text
pjlib/include/pj/compat/m_auto.h.in eol=lf
pjlib/include/pj/compat/os_auto.h.in eol=lf
pjlib/src/pjlib-test/pjlib_test_reg.rss -text
pjmedia/build/os-auto.mak.in eol=lf
pjmedia/build/pjmedia.vcproj -text
pjmedia/build/pjmedia_audiodev.vcproj -text
pjmedia/build/pjmedia_codec.vcproj -text
pjmedia/build/pjmedia_test.vcproj eol=crlf
pjmedia/build/wince-evc4/pjmedia_codec_wince.vcp eol=crlf
pjmedia/build/wince-evc4/pjmedia_test.vcp -text
pjmedia/build/wince-evc4/pjmedia_wince.vcp eol=crlf
pjmedia/build/wince-evc4/pjmedia_wince.vcw eol=crlf
pjmedia/docs/doxygen.cfg -text
pjmedia/docs/master-port.jpg -text svneol=unset#image/jpeg
pjmedia/docs/media-flow.jpg -text
pjmedia/docs/media-flow.vsd -text
pjmedia/docs/media-srtp-transport.PNG -text
pjmedia/docs/media-transport.PNG -text
pjmedia/docs/sample-manual-resampling.jpg -text svneol=unset#image/jpeg
pjmedia/docs/siprtp.jpg -text svneol=unset#image/jpeg
pjmedia/docs/sndtest.jpg -text svneol=unset#image/jpeg
pjmedia/include/pjmedia-codec/config_auto.h.in eol=lf
pjmedia/include/pjmedia/config_auto.h.in eol=lf
pjmedia/src/test/vectors/g722_1_dec_in_24000_fe.itu -text
pjmedia/src/test/vectors/g722_1_dec_in_32000_fe.itu -text
pjmedia/src/test/vectors/g722_1_dec_out_24000.pcm -text
pjmedia/src/test/vectors/g722_1_dec_out_24000_fe.pcm -text
pjmedia/src/test/vectors/g722_1_dec_out_32000.pcm -text
pjmedia/src/test/vectors/g722_1_dec_out_32000_fe.pcm -text
pjmedia/src/test/vectors/g722_1_enc_in.wav -text
pjmedia/src/test/vectors/g722_1_enc_out_24000_be.pak -text
pjmedia/src/test/vectors/g722_1_enc_out_32000_be.pak -text
pjnath/build/pjnath.vcproj eol=crlf
pjnath/build/pjnath_test.vcproj eol=crlf
pjnath/build/pjstun_srv_test.vcproj eol=crlf
pjnath/build/pjturn_client.vcproj eol=crlf
pjnath/build/wince-evc4/pjnath_test_wince.vcp -text
pjnath/build/wince-evc4/pjnath_wince.vcp -text
pjnath/build/wince-evc4/pjnath_wince.vcw -text
pjnath/docs/UML-class-diagram.dia -text
pjnath/docs/UML-class-diagram.png -text svneol=unset#image/png
pjnath/docs/doxygen.cfg -text
pjnath/docs/doxygen.css -text
pjnath/docs/footer.html -text
pjnath/docs/header.html -text
pjnath/docs/ice-arch.jpg -text svneol=unset#image/jpeg
pjnath/docs/ice_demo.jpg -text svneol=unset#image/jpeg
pjnath/docs/pjturn_client.jpg -text svneol=unset#image/jpeg
pjnath/docs/stun-arch.jpg -text svneol=unset#image/jpeg
/pjproject-vs8.sln -text
pjsip-apps/build/libpjproject.vcproj -text
pjsip-apps/build/pjsua.vcproj -text
pjsip-apps/build/pjsystest.vcproj eol=crlf
pjsip-apps/build/py_pjsua.vcproj -text
pjsip-apps/build/python_pjsua.vcproj -text
pjsip-apps/build/sample_debug.vcproj -text
pjsip-apps/build/samples.vcproj -text
pjsip-apps/build/wince-evc4/wince_demos.vcw eol=crlf
pjsip-apps/src/ipjsua/MainWindow.xib -text
pjsip-apps/src/ipjsua/Resources-iPad/MainWindow-iPad.xib -text
pjsip-apps/src/ipjsua/Resources-iPad/SecondView-iPad.xib -text
pjsip-apps/src/ipjsua/SecondView.xib -text
pjsip-apps/src/ipjsua/config.cfg -text
pjsip-apps/src/ipjsua/ipjsua-Info.plist -text
pjsip-apps/src/ipjsua/ipjsua.xcodeproj/project.pbxproj -text
pjsip-apps/src/ipjsua/ipjsua_Prefix.pch -text
pjsip-apps/src/ipjsystest/MainWindow.xib -text
pjsip-apps/src/ipjsystest/RootViewController.xib -text
pjsip-apps/src/ipjsystest/TestViewController.xib -text
pjsip-apps/src/ipjsystest/ipjsystest-Info.plist -text
pjsip-apps/src/ipjsystest/ipjsystest.xcodeproj/project.pbxproj -text
pjsip-apps/src/ipjsystest/ipjsystest_Prefix.pch -text
pjsip-apps/src/pjsua_wince/pjsua_wince.ico -text
pjsip-apps/src/pjsua_wince/pjsua_wince.rc -text
pjsip-apps/src/pjsua_wince/pjsua_wince.vcp -text
pjsip-apps/src/pjsua_wince/pjsua_wince.vcproj -text
pjsip-apps/src/pjsua_wince/resource.h -text
pjsip-apps/src/pjsystest/pjsystest_wince.rc -text
pjsip-apps/src/pjsystest/pjsystest_wince.rc2 -text
pjsip-apps/src/pocketpj/PocketPJ.rc -text
pjsip-apps/src/pocketpj/PocketPJ.vcc -text
pjsip-apps/src/pocketpj/PocketPJ.vcp -text
pjsip-apps/src/pocketpj/PocketPJ.vcproj -text
pjsip-apps/src/pocketpj/PocketPJ.vcw -text
pjsip-apps/src/pocketpj/res/PocketPJ.ico -text
pjsip-apps/src/pocketpj/res/PocketPJ.rc2 -text
pjsip-apps/src/pocketpj/res/action.bmp -text
pjsip-apps/src/pocketpj/res/blank.bmp -text
pjsip-apps/src/pocketpj/res/invisibl.bmp -text
pjsip-apps/src/pocketpj/res/invisibl.ico -text
pjsip-apps/src/pocketpj/res/offline.bmp -text
pjsip-apps/src/pocketpj/res/offline.ico -text
pjsip-apps/src/pocketpj/res/online.bmp -text
pjsip-apps/src/pocketpj/res/online.ico -text
pjsip-apps/src/symbian_ua/symbian_ua_reg.rss -text
pjsip-apps/src/symbian_ua_gui/application.uidesign -text
pjsip-apps/src/symbian_ua_gui/data/symbian_ua_gui.l01 -text
pjsip-apps/src/symbian_ua_gui/data/symbian_ua_gui.loc -text
pjsip-apps/src/symbian_ua_gui/data/symbian_ua_gui.rss -text
pjsip-apps/src/symbian_ua_gui/data/symbian_ua_guiContainer.l01 -text
pjsip-apps/src/symbian_ua_gui/data/symbian_ua_guiContainer.loc -text
pjsip-apps/src/symbian_ua_gui/data/symbian_ua_guiContainer.rssi -text
pjsip-apps/src/symbian_ua_gui/data/symbian_ua_guiSettingItemList.l01 -text
pjsip-apps/src/symbian_ua_gui/data/symbian_ua_guiSettingItemList.loc -text
pjsip-apps/src/symbian_ua_gui/data/symbian_ua_guiSettingItemList.rssi -text
pjsip-apps/src/symbian_ua_gui/data/symbian_ua_gui_reg.loc -text
pjsip-apps/src/symbian_ua_gui/data/symbian_ua_gui_reg.rss -text
pjsip-apps/src/symbian_ua_gui/gfx/list_icon.bmp -text
pjsip-apps/src/symbian_ua_gui/gfx/list_icon_mask.bmp -text
pjsip-apps/src/symbian_ua_gui/gfx/mark_icon.bmp -text
pjsip-apps/src/symbian_ua_gui/gfx/mark_icon_mask.bmp -text
pjsip-apps/src/symbian_ua_gui/gfx/qgn_menu_symbian_ua_gui.svg -text
pjsip-apps/src/symbian_ua_gui/group/ABLD.BAT -text
pjsip-apps/src/symbian_ua_gui/group/Icons_aif_scalable_dc.mk -text
pjsip-apps/src/symbian_ua_gui/group/bld.inf -text
pjsip-apps/src/symbian_ua_gui/group/symbian_ua_gui.mmp -text
pjsip-apps/src/symbian_ua_gui/inc/symbian_ua.h -text
pjsip-apps/src/symbian_ua_gui/inc/symbian_ua_gui.hrh -text
pjsip-apps/src/symbian_ua_gui/inc/symbian_ua_gui.pan -text
pjsip-apps/src/symbian_ua_gui/inc/symbian_ua_guiContainer.hrh -text
pjsip-apps/src/symbian_ua_gui/inc/symbian_ua_guiSettingItemList.hrh -text
pjsip-apps/src/symbian_ua_gui/sis/symbian_ua_gui.pkg -text
pjsip-apps/src/symbian_ua_gui/sis/symbian_ua_gui.txt -text
pjsip-apps/src/symbian_ua_gui/src/symbian_ua.cpp -text
pjsip-apps/src/symbian_ua_gui/symbian_ua_guiContainer.uidesign -text
pjsip-apps/src/symbian_ua_gui/symbian_ua_guiSettingItemList.uidesign -text
pjsip-apps/src/symsndtest/symsndtest_reg.rss -text
pjsip/build/os-auto.mak.in eol=lf
pjsip/build/pjsip_core.vcproj -text
pjsip/build/pjsip_simple.vcproj -text
pjsip/build/pjsip_test.vcproj -text
pjsip/build/pjsip_ua.vcproj -text
pjsip/build/pjsua_lib.vcproj -text
pjsip/build/wince-evc4/pjsip_core_wince.vcp eol=crlf
pjsip/build/wince-evc4/pjsip_simple_wince.vcp eol=crlf
pjsip/build/wince-evc4/pjsip_ua_wince.vcp eol=crlf
pjsip/build/wince-evc4/pjsip_wince.vcw eol=crlf
pjsip/build/wince-evc4/pjsua_lib_wince.vcp eol=crlf
pjsip/build/wince-evc4/test_pjsip_wince.vcp -text
pjsip/docs/doxygen.cfg -text
pjsip/docs/footer.html -text
pjsip/docs/header.html -text
pjsip/docs/pjsip-arch.jpg -text svneol=unset#image/jpeg
pjsip/docs/pjsip-perf.jpg -text
pjsip/docs/pjsua.jpg -text svneol=unset#image/jpeg
pjsip/docs/siprtp.jpg -text
pjsip/include/pjsip/sip_autoconf.h.in eol=lf
/svn_add eol=lf
/svn_add.bat -text
/svn_pset eol=lf
/svn_pset.bat -text
tests/cdash/builder.py -text
tests/cdash/cfg_gnu.py -text
tests/cdash/cfg_msvc.py -text
tests/cdash/cfg_site_sample.py -text
tests/cdash/cfg_symbian.py -text
tests/cdash/inc_test.py -text
tests/cdash/main.py -text
tests/cdash/starttest_sample.bat -text
tests/pjsua/README.TXT -text
tests/pjsua/scripts-sipp/prack_fork.xml -text
tests/pjsua/scripts-sipp/strict-route.xml -text
tests/pjsua/scripts-sipp/uac-inv-multiple-require.xml -text
tests/pjsua/scripts-sipp/uac-inv-two-media-but-one-disabled-no-rtpmap.xml -text
tests/pjsua/scripts-sipp/uac-options.xml -text
tests/pjsua/scripts-sipp/uac-reinvite-bad-via-branch.xml -text
tests/pjsua/scripts-sipp/uac-subscribe.xml -text
tests/pjsua/scripts-sipp/uac-ticket-1148.xml -text
tests/pjsua/scripts-sipp/uas-422-then-200-bad-se.xml -text
tests/pjsua/scripts-sipp/uas-auth.xml -text
tests/pjsua/scripts-sipp/uas-invite.xml -text
tests/pjsua/scripts-sipp/uas-mwi-0.xml -text
tests/pjsua/scripts-sipp/uas-mwi.xml -text
tests/pjsua/scripts-sipp/uas-subscribe-late-notify.xml -text
tests/pjsua/scripts-sipp/uas-subscribe-notify-terminate.xml -text
tests/pjsua/scripts-sipp/uas-subscribe-refresh-481.xml -text
tests/pjsua/scripts-sipp/uas-subscribe-terminated-retry.xml -text
tests/pjsua/scripts-sipp/uas.xml -text
tests/pjsua/tools/cmp_wav.exe -text
tests/pjsua/wavs/input.11.wav -text
tests/pjsua/wavs/input.16.wav -text
tests/pjsua/wavs/input.2.16.wav -text
tests/pjsua/wavs/input.2.8.wav -text
tests/pjsua/wavs/input.22.wav -text
tests/pjsua/wavs/input.32.wav -text
tests/pjsua/wavs/input.44.wav -text
tests/pjsua/wavs/input.48.wav -text
tests/pjsua/wavs/input.8.wav -text
tests/pjsua/wavs/tock8.wav -text
third_party/build/g7221/libg7221codec.vcproj -text
third_party/build/gsm/libgsmcodec.vcp -text
third_party/build/gsm/libgsmcodec.vcproj eol=crlf
third_party/build/ilbc/libilbccodec.vcp -text
third_party/build/ilbc/libilbccodec.vcproj eol=crlf
third_party/build/milenage/libmilenage.vcp -text
third_party/build/milenage/libmilenage.vcproj -text
third_party/build/os-auto.mak.in eol=lf
third_party/build/portaudio/Makefile -text
third_party/build/portaudio/libportaudio.vcp -text
third_party/build/portaudio/libportaudio.vcproj eol=crlf
third_party/build/portaudio/os-auto.mak.in eol=lf
third_party/build/resample/libresample.vcp -text
third_party/build/resample/libresample.vcproj eol=crlf
third_party/build/resample/libresample_dll.vcproj eol=crlf
third_party/build/samplerate/Static.msvc -text
third_party/build/samplerate/libsamplerate_static.dsp -text
third_party/build/speex/libspeex.vcp -text
third_party/build/speex/libspeex.vcproj eol=crlf
third_party/build/srtp/libsrtp.vcp -text
third_party/build/srtp/libsrtp.vcproj -text
third_party/gsm/add-test/add_test.dta -text
third_party/gsm/man/bitter.1 -text
third_party/gsm/man/gsm.3 -text
third_party/gsm/man/gsm_explode.3 -text
third_party/gsm/man/gsm_option.3 -text
third_party/gsm/man/gsm_print.3 -text
third_party/gsm/man/toast.1 -text
third_party/gsm/tls/bitter.dta -text
third_party/gsm/tls/sour1.dta -text
third_party/gsm/tls/sour2.dta -text
third_party/gsm/tst/run -text
third_party/srtp/CHANGES -text
third_party/srtp/LICENSE -text
third_party/srtp/Makefile.in -text
third_party/srtp/README -text
third_party/srtp/TODO -text
third_party/srtp/VERSION -text
third_party/srtp/config.guess -text
third_party/srtp/config.h_win32vc7 -text
third_party/srtp/config.hw -text
third_party/srtp/config.sub -text
third_party/srtp/config_in.h -text
third_party/srtp/configure -text
third_party/srtp/configure.in -text
third_party/srtp/crypto/Makefile -text
third_party/srtp/crypto/Makefile.in -text
third_party/srtp/crypto/VERSION -text
third_party/srtp/crypto/ae_xfm/xfm.c -text
third_party/srtp/crypto/cipher/aes.c -text
third_party/srtp/crypto/cipher/aes_cbc.c -text
third_party/srtp/crypto/cipher/aes_icm.c -text
third_party/srtp/crypto/cipher/cipher.c -text
third_party/srtp/crypto/cipher/null_cipher.c -text
third_party/srtp/crypto/hash/auth.c -text
third_party/srtp/crypto/hash/hmac.c -text
third_party/srtp/crypto/hash/null_auth.c -text
third_party/srtp/crypto/hash/sha1.c -text
third_party/srtp/crypto/include/aes.h -text
third_party/srtp/crypto/include/aes_cbc.h -text
third_party/srtp/crypto/include/aes_icm.h -text
third_party/srtp/crypto/include/alloc.h -text
third_party/srtp/crypto/include/auth.h -text
third_party/srtp/crypto/include/cipher.h -text
third_party/srtp/crypto/include/crypto.h -text
third_party/srtp/crypto/include/crypto_kernel.h -text
third_party/srtp/crypto/include/crypto_math.h -text
third_party/srtp/crypto/include/crypto_types.h -text
third_party/srtp/crypto/include/cryptoalg.h -text
third_party/srtp/crypto/include/datatypes.h -text
third_party/srtp/crypto/include/err.h -text
third_party/srtp/crypto/include/gf2_8.h -text
third_party/srtp/crypto/include/hmac.h -text
third_party/srtp/crypto/include/integers.h -text
third_party/srtp/crypto/include/kernel_compat.h -text
third_party/srtp/crypto/include/key.h -text
third_party/srtp/crypto/include/null_auth.h -text
third_party/srtp/crypto/include/null_cipher.h -text
third_party/srtp/crypto/include/prng.h -text
third_party/srtp/crypto/include/rand_source.h -text
third_party/srtp/crypto/include/rdb.h -text
third_party/srtp/crypto/include/rdbx.h -text
third_party/srtp/crypto/include/sha1.h -text
third_party/srtp/crypto/include/stat.h -text
third_party/srtp/crypto/include/xfm.h -text
third_party/srtp/crypto/kernel/alloc.c -text
third_party/srtp/crypto/kernel/crypto_kernel.c -text
third_party/srtp/crypto/kernel/err.c -text
third_party/srtp/crypto/kernel/key.c -text
third_party/srtp/crypto/math/datatypes.c -text
third_party/srtp/crypto/math/gf2_8.c -text
third_party/srtp/crypto/math/math.c -text
third_party/srtp/crypto/math/stat.c -text
third_party/srtp/crypto/replay/rdb.c -text
third_party/srtp/crypto/replay/rdbx.c -text
third_party/srtp/crypto/replay/ut_sim.c -text
third_party/srtp/crypto/rng/ctr_prng.c -text
third_party/srtp/crypto/rng/prng.c -text
third_party/srtp/crypto/rng/rand_linux_kernel.c -text
third_party/srtp/crypto/rng/rand_source.c -text
third_party/srtp/crypto/test/aes_calc.c -text
third_party/srtp/crypto/test/auth_driver.c -text
third_party/srtp/crypto/test/cipher_driver.c -text
third_party/srtp/crypto/test/datatypes_driver.c -text
third_party/srtp/crypto/test/env.c -text
third_party/srtp/crypto/test/kernel_driver.c -text
third_party/srtp/crypto/test/rand_gen.c -text
third_party/srtp/crypto/test/sha1_driver.c -text
third_party/srtp/crypto/test/stat_driver.c -text
third_party/srtp/doc/Doxyfile -text
third_party/srtp/doc/Makefile -text
third_party/srtp/doc/Makefile.in -text
third_party/srtp/doc/crypto_kernel.txt -text
third_party/srtp/doc/draft-irtf-cfrg-icm-00.txt -text
third_party/srtp/doc/header.template -text
third_party/srtp/doc/intro.txt -text
third_party/srtp/doc/references.txt -text
third_party/srtp/doc/rfc3711.txt -text
third_party/srtp/include/getopt_s.h -text
third_party/srtp/include/rtp.h -text
third_party/srtp/include/rtp_priv.h -text
third_party/srtp/include/srtp.h -text
third_party/srtp/include/srtp_priv.h -text
third_party/srtp/include/ut_sim.h -text
third_party/srtp/install-sh -text
third_party/srtp/srtp.def -text
third_party/srtp/srtp.vcproj -text
third_party/srtp/srtp/srtp.c -text
third_party/srtp/srtp7.sln -text
third_party/srtp/srtp7.vcproj -text
third_party/srtp/tables/aes_tables.c -text
third_party/srtp/test/dtls_srtp_driver.c -text
third_party/srtp/test/getopt_s.c -text
third_party/srtp/test/lfsr.c -text
third_party/srtp/test/rdbx_driver.c -text
third_party/srtp/test/replay_driver.c -text
third_party/srtp/test/roc_driver.c -text
third_party/srtp/test/rtp.c -text
third_party/srtp/test/rtpw.c -text
third_party/srtp/test/rtpw_test.sh -text
third_party/srtp/test/srtp_driver.c -text
third_party/srtp/timing -text
third_party/srtp/undos.sh -text
third_party/srtp/update.sh -text
