/build.mak
/build.mak.old
pjlib-util/bin/*
pjlib-util/build/*.bsc
pjlib-util/build/*.lpg
pjlib-util/build/*.ncb
pjlib-util/build/*.opt
pjlib-util/build/*.suo
pjlib-util/build/.pjlib*
pjlib-util/build/output/*
pjlib-util/build/wince-evc4/*.vcb
pjlib-util/build/wince-evc4/*.vco
pjlib-util/build/wince-evc4/output/*
pjlib-util/docs/html
pjlib-util/docs/latex
pjlib-util/docs/rtf
pjlib-util/lib/*
pjlib/bin/*
pjlib/build/*.ncb
pjlib/build/*.opt
pjlib/build/*.plg
pjlib/build/*.suo
pjlib/build/.pjlib*
pjlib/build/core
pjlib/build/output/*
pjlib/build/test*.txt
pjlib/build/wince-evc4/*.vcb
pjlib/build/wince-evc4/*.vco
pjlib/build/wince-evc4/output/*
pjlib/docs/html
pjlib/docs/latex
pjlib/include/pj/config_site.h
pjlib/lib/*
pjmedia/bin/*
pjmedia/build/*.ncb
pjmedia/build/*.opt
pjmedia/build/*.plg
pjmedia/build/.pjmedia*
pjmedia/build/output/*
pjmedia/build/wince-evc4/*.vcb
pjmedia/build/wince-evc4/*.vco
pjmedia/build/wince-evc4/output/*
pjmedia/docs/html
pjmedia/docs/latex
pjmedia/docs/rtf
pjmedia/lib/*
pjsip/bin/*
pjsip/build/*.log
pjsip/build/*.ncb
pjsip/build/*.opt
pjsip/build/*.plg
pjsip/build/*.swp
pjsip/build/.pj*
pjsip/build/TODO-LIST.TXT
pjsip/build/output/*
pjsip/build/pjsip++.dsp
pjsip/build/wince-evc4/*.vcb
pjsip/build/wince-evc4/*.vco
pjsip/build/wince-evc4/output/*
pjsip/docs/html
pjsip/docs/latex
pjsip/docs/rtf
pjsip/include/pjsip++
pjsip/lib/*
pjsip/src/pjsip++
/python
