* text=auto !eol
/COPYING -text
/aconfigure eol=lf
/aconfigure.ac eol=lf
/config.guess eol=lf
/configure eol=lf
/configure-legacy eol=lf
pjlib-util/build/pjlib_util.dsp eol=crlf
pjlib-util/build/pjlib_util.dsw eol=crlf
pjlib-util/build/pjlib_util.vcproj -text
pjlib-util/build/pjlib_util_test.dsp eol=crlf
pjlib-util/build/pjlib_util_test.vcproj -text
pjlib-util/docs/doxygen.cfg -text
pjlib-util/docs/doxygen.css -text
pjlib-util/docs/footer.html -text
pjlib-util/docs/header.html -text
pjlib-util/src/pjlib-util/sha1.c -text
pjlib/build/pjlib++-test.dsp eol=crlf
pjlib/build/pjlib++.dsp eol=crlf
pjlib/build/pjlib.dsp eol=crlf
pjlib/build/pjlib.dsw eol=crlf
pjlib/build/pjlib.vcproj -text
pjlib/build/pjlib_samples.dsp eol=crlf
pjlib/build/pjlib_test.dsp eol=crlf
pjlib/build/pjlib_test.vcproj -text
pjlib/build/wince-evc4/pjlib_test_wince.vcp -text
pjlib/build/wince-evc4/pjlib_wince.vcp -text
pjlib/build/wince-evc4/pjlib_wince.vcw -text
pjlib/docs/doxygen.cfg -text
pjlib/docs/doxygen.css -text
pjlib/docs/footer.html -text
pjlib/docs/header.html -text
pjmedia/build/pjaut.dsp eol=crlf
pjmedia/build/pjmedia.dsp eol=crlf
pjmedia/build/pjmedia.dsw eol=crlf
pjmedia/build/pjmedia.vcproj -text
pjmedia/build/pjmedia_codec.dsp eol=crlf
pjmedia/build/pjmedia_codec.vcproj -text
pjmedia/build/pjmedia_test.dsp eol=crlf
pjmedia/docs/doxygen.cfg -text
pjmedia/docs/master-port.jpg -text svneol=unset#image/jpeg
pjmedia/docs/media-flow.jpg -text
pjmedia/docs/media-flow.vsd -text
pjmedia/docs/sample-manual-resampling.jpg -text svneol=unset#image/jpeg
pjmedia/docs/siprtp.jpg -text svneol=unset#image/jpeg
pjmedia/docs/sndtest.jpg -text svneol=unset#image/jpeg
pjmedia/src/pjmedia-codec/gsm/code.c -text
pjmedia/src/pjmedia-codec/gsm/config.h -text
pjmedia/src/pjmedia-codec/gsm/proto.h -text
pjnath/build/pjnath.dsw eol=crlf
pjnath/build/pjstun_client.dsp -text
pjnath/build/pjstun_srv_test.dsp -text
/pjproject-vs8.sln -text
/pjproject.dsw -text
pjsip-apps/build/pjsip_apps.dsw eol=crlf
pjsip-apps/build/pjsua.dsp eol=crlf
pjsip-apps/build/pjsua.vcproj -text
pjsip-apps/build/py_pjsua.dsp eol=crlf
pjsip-apps/build/sample_debug.dsp eol=crlf
pjsip-apps/build/sample_debug.vcproj -text
pjsip-apps/build/samples.dsp eol=crlf
pjsip-apps/build/samples.vcproj -text
pjsip-apps/src/pjsua_wince/pjsua_wince.ico -text
pjsip-apps/src/pjsua_wince/pjsua_wince.rc -text
pjsip-apps/src/pjsua_wince/pjsua_wince.vcp -text
pjsip-apps/src/pjsua_wince/resource.h -text
pjsip/build/pjsip.dsw eol=crlf
pjsip/build/pjsip_core.dsp eol=crlf
pjsip/build/pjsip_core.vcproj -text
pjsip/build/pjsip_simple.dsp eol=crlf
pjsip/build/pjsip_simple.vcproj -text
pjsip/build/pjsip_ua.dsp eol=crlf
pjsip/build/pjsip_ua.vcproj -text
pjsip/build/pjsua_lib.dsp eol=crlf
pjsip/build/pjsua_lib.vcproj -text
pjsip/build/test_pjsip.dsp eol=crlf
pjsip/build/test_pjsip.vcproj -text
pjsip/docs/doxygen.cfg -text
pjsip/docs/footer.html -text
pjsip/docs/header.html -text
pjsip/docs/pjsip-arch.jpg -text svneol=unset#image/jpeg
pjsip/docs/pjsip-perf.jpg -text
pjsip/docs/pjsua.jpg -text svneol=unset#image/jpeg
pjsip/docs/siprtp.jpg -text
/svn_add eol=lf
/svn_pset eol=lf
